<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Wait Time Prediction</title>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to Starbucks Wait Time Prediction</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('results') }}">Results</a></li>
        </ul>
    </nav>

    <main>
        <section id="visualization">
            <h2>Visualization: Starbucks Wait Time Data</h2>
            <canvas id="avgWaitTimeChart" data-chart="{{ avg_wait_time_data }}"></canvas>
            <canvas id="predVsActualChart" data-chart="{{ pred_vs_actual_data }}"></canvas>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Starbucks Wait Time Prediction Project</p>
    </footer>

    <!-- Include JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
